/venv
venv/
/venv/
/yolov8x/
yolov8x/
yolov8x.pt
*.pt
\work_queue_folder
/work_queue_folder
/gfpgan/
/gfpgan
/Oppskalering
/GPEN
/weights
/RIFE
/Video_clips
/client_secret_849553263621-grvsfihl7lkocrt0qgs37iipuv5lbpkl.apps.googleusercontent.com.json
/youtube_token.pickle
Video_clips/
token.pickle
youtube_token.pickle
*.pickle
Video_clips/Secrets
*env
/.env
/weights
/vmaf_netflix_quality_checker
/Utils-Video_creation
/RIFE
/neon
/GPEN
smolagents_libary_changes.txt
RIFE_FPS.py
codeformer.py
backup_smolagentslibary_toollist.py
/Video_clips
/dynamic_glow_fade.py
/work_queue_folder/
/work_queue_folder
_pycache__/
